@charset "utf-8";
@import url("../fonts/notosanskr/NotoSansKR.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  color: #000;
  line-height: normal;
  letter-spacing: 0;
}

/* 공통 클래스 */
.container {
  position: relative;
  display: block;
  width: 120rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

/* 모달창 */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 7;
}

.modal-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 55rem;
  height: 30rem;
  background: #fff;
  border-radius: 1rem;
  padding: 4.5rem 5rem;
}

.modal__txt01 {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3rem;
  color: #000;
}

.modal__txt02 {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.modal__close {
  position: absolute;
  right: 4rem;
  bottom: 3.5rem;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem;
  text-align: center;
  border: 0;
  border-radius: .5rem;
  color: #fff;
  background-color: #000;
  padding: 0 3rem;
  cursor: pointer;
}

/* 검색 모달창 */
.modal-srch {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 7;
}

.modal-srch-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 30rem;
  background-color: #f9f9f9;
  border-radius: .7rem;
}

.modal-srch-box h2 {
  font-size: 2.24rem;
  font-weight: 200;
  line-height: 2.5;
  color: #333;
  padding-left: 2.24rem;
}

.modal-srch-box i {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 1.7rem;
  height: 1.7rem;
  background: url('../images/modal-srch-close.gif') no-repeat center;
  cursor: pointer;
}

.modal-srch-box span {
  display: block;
  height: 9rem;
  background-color: #fff;
  border-top: .1rem solid #ddd;
  border-bottom: .1rem solid #ddd;
  padding: 3.2rem 1.6rem;
}

.modal-srch-box button {
  display: block;
  height: 2.6rem;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.6rem;
  letter-spacing: -.0016rem;
  color: #fff;
  background-color: #323232;
  border: 0;
  border-radius: .3rem;
  padding: 0 1.6rem;
  margin: 1.4rem auto;
  cursor: pointer;
}

/* Go-top */
.go-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 6rem;
  height: 5.5rem;
  background-color: #777;
  padding: 1.1rem;
  cursor: pointer;
  z-index: 5;
}

.go-top i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  background: url('../images/go-top-arrow.png') no-repeat center;
}

.go-top span {
  display: block;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  color: #fff;
}

.go-top:hover span {
  text-decoration: underline;
}

/* 사이드 메뉴 */
.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 100%;
  z-index: 5;
}

.side-menu-list {
  position: absolute;
  top: 35rem;
  right: -16rem;
  display: block;
  font-size: 0;
}

.side-menu__btn {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 100%;
  margin-bottom: .5rem;
  cursor: pointer;
  transition: all .2s;
}

.side-menu__btn:hover {
  background-color: #3bc7f2;
}

.side-menu__btn::before {
  content: '';
  position: absolute;
  left: -7.5rem;
  top: 0;
  display: block;
  width: 7rem;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 4rem;
  text-align: center;
  color: #fff;
  background-color: #3bc7f2;
  border-radius: 2rem;
  transform: scale(0);
  transition: all .2s;
}

.side-menu__btn:hover::before {
  transform: scale(1);
}

.side-menu__btn--focused {
  background-color: #3bc7f2 !important;
}

.side-menu__btn--focused::before {
  transform: scale(1) !important;
}

.side-menu__btn--1 {
  background: #03335c url('../images/main_move_btn_news.png') no-repeat center;
}

.side-menu__btn--1::before {
  content: '뉴스';
}

.side-menu__btn--2 {
  background: #03335c url('../images/main_move_btn_notice.png') no-repeat center;
}

.side-menu__btn--2::before {
  content: '소식';
}

.side-menu__btn--3 {
  background: #03335c url('../images/main_move_btn_research.png') no-repeat center;
}

.side-menu__btn--3::before {
  content: '연구';
}

.side-menu__btn--4 {
  background: #03335c url('../images/main_move_btn_service.png') no-repeat center;
}

.side-menu__btn--4::before {
  content: '서비스';
}

.side-menu__btn--5 {
  background: #03335c url('../images/main_move_btn_sns.png') no-repeat center;
}

.side-menu__btn--5::before {
  content: 'SNS';
}

/* 상단 배너 슬라이드 */
.top-banner {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  background-color: #5f7486;
  z-index: -1;
}

.top-banner .container {
  height: 12.4rem;
}

.top-banner__link {
  position: relative;
  display: block;
  text-align: center;
}

.sw-top-banner {
  width: 105rem;
}

.sw-top-banner__pg .swiper-pagination-bullet {
  background-color: #97a5b0;
  margin: 0 .2rem !important;
  opacity: 1;
}

.sw-top-banner__pg .swiper-pagination-bullet-active {
  background-color: #fff;
}

.sw-top-banner__prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 2.4rem;
  height: 3.7rem;
  background: url("../images/arrow_prev_1.png") no-repeat center;
  cursor: pointer;
  z-index: 1;
}

.sw-top-banner__next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 2.4rem;
  height: 3.7rem;
  background: url("../images/arrow_next_1.png") no-repeat center;
  cursor: pointer;
  z-index: 1;
}

.top-banner__close {
  position: absolute;
  right: 0;
  bottom: .4rem;
  display: block;
  font-size: 1.3rem;
  color: #fff;
  z-index: 1;
}

.top-banner__close-txt {
  vertical-align: .2rem;
}

.wrap {
  position: relative;
  display: block;
  margin-top: 0;
  transition: all .3s;
}

.wrap--mg-top {
  margin-top: 12.4rem;
}

/* Header */
.header {
  position: relative;
  display: block;
  z-index: 6;
}

.header-top {
  position: relative;
  display: block;
  background-color: #012340;
  z-index: 1;
}

.member {
  position: relative;
  display: block;
  float: left;
}

.member-list {
  position: relative;
  display: block;
}

.member-list>li {
  position: relative;
  display: block;
  float: left;
  border-left: .1rem solid #465d72;
  transition: all .5s;
}

.member-list>li:last-child {
  border-right: .1rem solid #465d72;
}

.member-list>li:hover {
  background-color: #5f7486;
}


.member-list__link {
  position: relative;
  display: block;
  font-size: 1.4rem;
  line-height: 4rem;
  color: #fff;
  padding: 0 1.5rem;
  cursor: pointer;
}

.btn-lang::after {
  content: "";
  display: inline-block;
  width: .6rem;
  height: .4rem;
  vertical-align: .2rem;
  background: url("../images/language_bul.png") no-repeat center;
  margin-left: 1rem;
}

.lang-list {
  position: absolute;
  left: 0;
  top: 4rem;
  display: none;
  width: 100%;
  background-color: #012340;
}

.lang-list>li {
  display: block;
  border-bottom: .1rem solid #465d72;
  transition: all .5s;
}

.lang-list>li:first-child {
  border-top: .1rem solid #465d72;
}

.lang-list>li:hover {
  background-color: #5f7486;
}

.lang-list>li>a {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  padding: .5rem 0;
}

.help {
  position: relative;
  display: block;
  float: right;
}

.help-list {
  position: relative;
  display: block;
}

.help-list>li {
  display: block;
  float: left;
  border-left: .1rem solid rgba(255, 255, 255, .2);
  border-right: .1rem solid rgba(255, 255, 255, .2);
  transition: all .5s;
}

.help-list>li:last-child {
  border-right: .1rem solid rgba(255, 255, 255, .2);
}

.help-list>li:hover {
  background-color: #5f7486;
}

.help-list>li>* {
  display: block;
  width: 4.233rem;
  height: 4rem;
  font-size: 0;
  cursor: pointer;
}

.help-list__search {
  background: url("../images/icon_search.png") no-repeat center;
}

.help-list__notice {
  background: url("../images/icon_notice.png") no-repeat center;
}

.help-list__notice--active {
  background-color: #5f7486;
}

.help-list__total {
  background: url("../images/icon_total.png") no-repeat center;
}

#search-form {
  position: absolute;
  left: -22.333rem;
  top: 0;
  display: none;
  height: 4rem;
  white-space: nowrap;
  background-color: #0877c4;
  overflow: hidden;
}

.search-txt {
  display: block;
  float: left;
  width: 18rem;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 4rem;
  color: #fff;
  background-color: #0877c4;
  border: 0;
  outline: none;
  padding: 0 1rem;
}

.search-txt::placeholder {
  color: #fff;
}

.search-submit {
  display: block;
  float: left;
  width: 4.333rem;
  height: 100%;
  font-size: 0;
  background: url('../images/icon_search.png') no-repeat center;
  border: 0;
  cursor: pointer;
}

.search-close {
  display: block;
  float: left;
  width: 4.333rem;
  height: 100%;
  font-size: 0;
  background: #013d67 url('../images/icon_close.png') no-repeat center;
  border: 0;
  cursor: pointer;
}

.header-main {
  position: relative;
  display: block;
  background-color: #fff;
}

.header-main--fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 6;
}

.header-main>.container {
  height: 6rem;
}

.header__logo {
  display: inline-block;
  width: 19rem;
  height: 6rem;
  background: url("../images/logo.png") no-repeat left center;
}

.dep01 {
  position: absolute;
  left: 21.5rem;
  top: 0;
}

.dep01>li {
  display: block;
  float: left;
  margin-right: 5rem;
}

.dep01>li:last-child {
  margin-right: 0;
}

.mainmenu {
  position: relative;
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 6rem;
  padding: 0 .7rem;
  cursor: pointer;
}

.mainmenu::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: .15rem;
  background-color: #999;
  opacity: 0;
  transition: all .3s;
}

.mainmenu:hover::after {
  width: 8rem;
  opacity: 1;
}

.header__user-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 13rem;
  font-size: 1.6rem;
  line-height: 6rem;
  text-align: center;
  color: #fff;
  background-color: #0092dd;
  cursor: pointer;
  z-index: 2;
  transition: all .5s;
}

.header__user-menu:hover {
  background-color: #5f7485;
}

.header__user-menu::before {
  content: "";
  display: inline-block;
  width: 2.8rem;
  height: 2.7rem;
  vertical-align: -.6rem;
  background: url("../images/icon_user-menu.png") no-repeat center;
  margin-right: .3rem;
}

.dep02 {
  position: absolute;
  left: 50%;
  top: 6rem;
  transform: translateX(-50%);
  display: none;
  width: 100vw;
  background-color: #f7f7f7;
  border-top: .1rem solid #dbdbdb;
  border-bottom: .1rem solid #dbdbdb;
  z-index: 1;
}

.dep02-close {
  position: absolute;
  right: 0;
  top: 1.4rem;
  display: none;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 0;
  background: url('../images/dep02-close.png') no-repeat center;
  border: .1rem solid #222;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.3, 0, 0.3, 1);
}

.dep02-close:hover {
  background: url('../images/dep02-close-blue.png') no-repeat center;
  border: .1rem solid #1372c0;
}

.dep02-wrap {
  display: flex;
  justify-content: center;
}

.dep02-left {
  display: block;
  width: 20rem;
}

.dep02-cate h2 {
  position: relative;
  display: none;
  width: 100%;
  height: 7.5rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.5rem;
  color: #105d97;
  padding: 3rem 0 1rem 0;
  cursor: default;
}

.dep02-cate01 h2 {
  background: url('../images/dep02-cate01.png') no-repeat 105% 2rem;
}

.dep02-cate02 h2 {
  background: url('../images/dep02-cate02.png') no-repeat 105% 2rem;
}

.dep02-cate03 h2 {
  background: url('../images/dep02-cate03.png') no-repeat 105% 2rem;
}

.dep02-cate04 h2 {
  background: url('../images/dep02-cate04.png') no-repeat 105% 2rem;
}

.dep02-cate05 h2 {
  background: url('../images/dep02-cate05.png') no-repeat 105% 2rem;
}

.dep02-cate06 h2 {
  background: url('../images/dep02-cate06.png') no-repeat 105% 2rem;
}

.dep02-cate07 h2 {
  background: url('../images/dep02-cate07.png') no-repeat 105% 2rem;
}

.dep02-cate h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 3.4rem;
  height: .2rem;
  background-color: #105d97;
}

.dep02-cate h2::after {
  content: '인하와 성장하는 인재, 미래 사회 핵심인재';
  display: block;
  width: 13rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.25;
  color: #666;
  padding-top: 3.5rem;
}

.dep02-right {
  display: block;
  width: 100rem;
  background-color: #fff;
  border-left: .1rem solid #d3d3d3;
}

.dep02-right-cont {
  display: none;
}

.dep02-right-cont>ul {
  display: flex;
  width: 100%;
}

.submenu-box {
  display: block;
  width: 25%;
  min-height: 15rem;
  border-right: .1rem solid #d3d3d3;
}

.dep02-right-cont>ul:nth-child(n+2)>.submenu-box h3 {
  border-top: .1rem solid #d3d3d3;
}

.submenu-box h3 {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #000;
  border-bottom: .1rem solid #d3d3d3;
  padding: 1.5rem 1.3rem;
  cursor: default;
}

.submenu-box:hover h3 {
  color: #097ad9;
  border-bottom: .1rem solid #097ad9;
}

.submenu-box h3::after {
  content: '';
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: .9rem;
  height: 1.4rem;
  background: url('../images/dep02-arrow.png') no-repeat center;
  transition: all .3s;
}

.submenu-box:hover h3::after {
  background: url('../images/dep02-arrow-blue.png') no-repeat center;
  transform: translateY(-50%) rotate(90deg);
}

.submenu-list {
  display: block;
  margin: 1.25rem 0;
}

.submenu-list>li {
  position: relative;
  display: block;
  padding-left: 2.5rem;
}

.submenu-list>li::before {
  content: '';
  position: absolute;
  left: 1.5rem;
  top: 1.1rem;
  display: block;
  width: .3rem;
  height: .5rem;
  background: url('../images/dep02-arrow-small.png') no-repeat center;
}

.submenu-list>li>a {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2.9rem;
}

.submenu-list>li>a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: .4rem;
  display: block;
  width: 0;
  height: .1rem;
  background-color: #000;
  transition: all .2s cubic-bezier(0.3, 0, 0.3, 1);
}

.submenu-list>li>a:hover::after {
  width: 100%;
}

.icon-link {
  display: inline-block;
  width: 1.2rem;
  height: 1.6rem;
  vertical-align: -.2rem;
  background: url('../images/dep02-link.png') no-repeat center;
  background-size: contain;
  margin-left: .5rem;
}

.user-menu {
  position: absolute;
  left: 0;
  top: 6rem;
  display: none;
  width: 100%;
  height: 30rem;
  background-color: #fff;
  box-sizing: content-box;
  border-top: .2rem solid #4ebcc3;
}

.user-menu-wrap {
  display: flex;
}

.user-menu-left {
  display: block;
}

.user-menu__tab {
  position: relative;
  display: block;
  width: 21rem;
  height: 7.5rem;
  font-weight: 400;
  padding: 2.3rem 0 0 7rem;
  color: #fff;
  box-sizing: border-box;
  border-bottom: .1rem solid #8ad7dc;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.3, 0, 0.3, 1);
}

.user-menu__tab:hover {
  color: #4ebcc3;
}

.user-menu__tab01 {
  background: #4ebcc3 url('../images/user-menu-tab01-off.png') no-repeat 10% center;
}

.user-menu__tab01:hover {
  background: #fff url('../images/user-menu-tab01-on.png') no-repeat 10% center;
}

.user-menu__tab02 {
  background: #4ebcc3 url('../images/user-menu-tab02-off.png') no-repeat 10% center;
}

.user-menu__tab02:hover {
  background: #fff url('../images/user-menu-tab02-on.png') no-repeat 10% center;
}

.user-menu__tab03 {
  background: #4ebcc3 url('../images/user-menu-tab03-off.png') no-repeat 10% center;
}

.user-menu__tab03:hover {
  background: #fff url('../images/user-menu-tab03-on.png') no-repeat 10% center;
}

.user-menu__tab04 {
  border-bottom: none;
  background: #4ebcc3 url('../images/user-menu-tab04-off.png') no-repeat 10% center;
}

.user-menu__tab04:hover {
  background: #fff url('../images/user-menu-tab04-on.png') no-repeat 10% center;
}

.user-menu__tab::after {
  content: "";
  position: absolute;
  right: 1.5rem;
  top: calc(50% - .2rem);
  display: block;
  width: 1.6rem;
  height: .4rem;
  background: url('../images/user-menu-tab-dots.png') no-repeat center;
  transition: all .2s cubic-bezier(0.3, 0, 0.3, 1);
}

.user-menu__tab:hover::after {
  top: calc(50% - .6rem);
  width: .8rem;
  height: 1.2rem;
  background: url('../images/user-menu-tab-arrow.png') no-repeat center;
}

.user-menu__tab01--focus {
  color: #4ebcc3;
  background: #fff url('../images/user-menu-tab01-on.png') no-repeat 10% center;
}

.user-menu__tab02--focus {
  color: #4ebcc3;
  background: #fff url('../images/user-menu-tab02-on.png') no-repeat 10% center;
}

.user-menu__tab03--focus {
  color: #4ebcc3;
  background: #fff url('../images/user-menu-tab03-on.png') no-repeat 10% center;
}

.user-menu__tab04--focus {
  color: #4ebcc3;
  background: #fff url('../images/user-menu-tab04-on.png') no-repeat 10% center;
}

.user-menu__tab01--focus::after,
.user-menu__tab02--focus::after,
.user-menu__tab03--focus::after,
.user-menu__tab04--focus::after {
  top: calc(50% - .6rem);
  width: .8rem;
  height: 1.2rem;
  background: url('../images/user-menu-tab-arrow.png') no-repeat center;
}

.user-menu-right {
  display: block;
}

.user-menu-right-cont {
  display: none;
  flex-wrap: wrap;
  padding: 4rem 2rem;
}

.user-menu-right-cont--show {
  display: flex;
}

.user-menu-right-cont a {
  position: relative;
  display: block;
  width: 20%;
  line-height: 3.35rem;
  padding-left: 2rem;
}

.user-menu-right-cont a:hover {
  color: #4ebcc3;
  font-weight: 500;
}

.user-menu-right-cont a::before {
  content: '';
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: .3rem;
  height: .3rem;
  background-color: #4ebcc3;
}

.user-menu__close {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 5rem;
  height: 5rem;
  font-size: 0;
  background: url('../images/user-menu-close.png') no-repeat center;
  border: .1rem solid #a1a1a1;
  cursor: pointer;
}

.user-menu__close:hover {
  border: .1rem solid #000;
}

/* 메인 슬라이드 */
.main-slide {
  position: relative;
  display: block;
  height: 66rem;
}

.sw-main>ul>li {
  background: url("../images/mainvisual_1.jpg") no-repeat center;
  background-size: cover;
}

.main-link {
  position: relative;
  display: block;
  width: 110rem;
  margin: 9rem auto 0 auto;
}

.main-box {
  position: relative;
  display: block;
  width: 50.6rem;
  height: 28.6rem;
  background-color: rgba(0, 0, 0, .3);
  border: .7rem solid #0062b4;
  padding: 1rem 3rem;
  z-index: 1;
}

.main-box__cate {
  display: block;
  font-size: 1.6rem;
  color: #7dc2fc;
}

.main-box__tit {
  display: block;
  height: 8.6rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #fff;
  margin-top: .5rem;
}

.main-box__desc {
  display: block;
  height: 6.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 1rem;
}

.main-box__more {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  display: block;
  font-size: 1.2rem;
  color: #fff;
  background: url("../images/more_1.png") no-repeat right center;
  padding-right: 2rem;
}

.main-link img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.sw-main-ctrl {
  position: absolute;
  left: 0;
  top: 47rem;
  display: block;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.sw-main__pg {
  position: relative;
  display: inline-block;
  width: auto !important;
}

.sw-main__pg .swiper-pagination-bullet {
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  opacity: 1;
  margin: 0 .3rem !important;
  transition: all .3s;
}

.sw-main__pg .swiper-pagination-bullet-active {
  width: 3.5rem;
  border-radius: 1rem;
}

.sw-main__btn {
  position: relative;
  display: inline-block;
  width: .9rem;
  height: 1.1rem;
  background: url("../images/pause_1.png") no-repeat center;
  border: none;
  margin-left: 1.2rem;
  cursor: pointer;
}

.sw-main__btn--play {
  background: url("../images/play_1.png") no-repeat center;
}

/* 뉴스/인터뷰 */
.news {
  position: relative;
  display: block;
}

.news .container {
  height: 31.2rem;
  background: url('../images/bbs_bg.png') no-repeat center;
  background-size: cover;
  margin-top: -13rem;
  z-index: 3;
}

.news-box {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  padding: 3.5rem 4rem 3.5rem 2rem;
}

.news-top {
  position: relative;
  display: block;
  margin-bottom: 1.8rem;
}

.news__tit {
  position: relative;
  display: block;
  float: left;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.news__more {
  position: relative;
  display: block;
  float: right;
  width: 3.8rem;
  height: 3.8rem;
  border: .1rem solid #fff;
  background: url("../images/plus_2.png") no-repeat center;
  background-size: 2.3rem;
  opacity: .5;
  transition: all .2s;
}

.news__more:hover {
  opacity: 1;
}

.news-list>li {
  position: relative;
  display: block;
  float: left;
  width: 50%;
}

.news__img {
  width: 27rem;
  height: 18.7rem;
}

.news-cont {
  position: relative;
  display: block;
  height: 18.7rem;
  padding-left: 2.7rem;
}

.news-cont__tit {
  position: relative;
  display: block;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.25;
  color: #fff;
  margin-bottom: 2rem;
}

.news-cont__txt {
  position: relative;
  display: block;
  height: 6rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #b9d3f6;
  overflow: hidden;
  transition: all .2s;
}

.news-main:hover .news-cont__txt {
  color: #fff;
}

.news-cont__more {
  position: absolute;
  bottom: 0;
  display: block;
  width: 9.3rem;
  height: 3.1rem;
  font-size: 1.2rem;
  color: #fff;
  background: url("../images/more_2.png") no-repeat center;
  padding: .6rem 1rem;
  transition: all .2s;
}

.news-main:hover .news-cont__more {
  color: #22315a;
}

.news-sns-box {
  position: absolute;
  top: 8.9rem;
  left: 2rem;
  display: block;
  width: 27rem;
  height: 18.7rem;
  text-align: center;
  opacity: 0;
  transition: all .2s;
}

.news-main:hover .news-sns-box {
  opacity: 1;
}

.news-sns-bg {
  position: absolute;
  left: 0;
  top: .2rem;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.news__sns {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 6.85rem .2rem 0 .2rem;
}

.news__sns--fb {
  background: url("../images/main_sns_f.png") no-repeat center;
  background-size: cover;
}

.news__sns--tw {
  background: url("../images/main_sns_t.png") no-repeat center;
  background-size: cover;
}

.news__sns--url {
  background: url("../images/main_sns_u.png") no-repeat center;
  background-size: cover;
}

/* 커뮤니티 */
.community {
  position: relative;
  display: block;
  background: url("../images/news_bg.png") no-repeat center;
  background-size: cover;
}

/* 공지사항 */
.notice {
  position: relative;
  display: block;
  background: url("../images/news_bg.png") no-repeat center;
  padding: 3rem 0 5rem 0;
}

.notice .container {
  position: relative;
  display: block;
}

.notice-left {
  position: relative;
  display: block;
  float: left;
  width: 23rem;
  padding: 4rem 7rem 0 0;
}

.notice__tit {
  position: relative;
  display: inline-block;
  padding-bottom: 2rem;
}

.notice__tit h2 {
  font-size: 2.3rem;
  font-weight: 200;
  padding-top: 1rem;
}

.notice__tit:hover h2 {
  color: #0066b3;
}

.notice__tit--focused {
  position: relative;
  display: block;
  padding-bottom: 2rem;
}

.notice__tit--focused h2 {
  font-size: 3.3rem;
  font-weight: 400;
  white-space: nowrap;
  color: #0066b3;
}

.notice__tit--focused::after {
  content: "";
  position: absolute;
  right: -1rem;
  bottom: 0;
  width: 7.2rem;
  height: 1.3rem;
  background: url("../images/bbs_more.png") no-repeat center;
}

.notice-right {
  position: relative;
  display: block;
  float: left;
  width: 97rem;
}

.notice-cont {
  position: relative;
  display: none;
  height: 36rem;
}

.notice-cont:first-child {
  display: block;
}

.notice-cont--pad {
  padding-top: 3.6rem;
}

.notice__menu-list {
  position: relative;
  display: block;
}

.notice__menu-item {
  position: relative;
  display: block;
  float: left;
  margin-right: 2.5rem;
}

.notice__menu-list>li:last-child {
  margin-right: 0;
}

.notice__menu-list>li>a {
  position: relative;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  padding: .5rem .2rem;
}

.notice__menu-list>li>a:hover {
  color: #0066b3;
  border-bottom: .2rem solid #0066b3;
}

.notice__menu-item--focused {
  color: #0066b3 !important;
  border-bottom: .2rem solid #0066b3;
}

.notice-wrap {
  position: relative;
  display: block;
}

.notice-list {
  position: relative;
  display: block;
  margin: 2rem 0;
}

.notice-box {
  position: relative;
  display: block;
  width: 31rem;
  height: 15rem;
  background: #0066b3;
  margin: 0 auto;
}

.notice-box:first-child {
  position: absolute;
  left: 0;
  top: 0;
}

.notice-box:last-child {
  position: absolute;
  right: 0;
  top: 0;
}

.notice-box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  border: .1rem solid #c5c5c5;
  transform: translate(-50%, -50%);
  transition: .2s, height .2s, border .2s;
}

.notice-box:hover::before {
  width: 30rem;
  height: 14rem;
  border: 0;
}

.notice-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  background: #0066b3 url("../images/plus_2.png") no-repeat;
  background-position: .7rem .7rem;
  transform: scale(0);
  opacity: 0;
  transition: all .2s;
}

.notice-box:hover::after {
  transform: scale(1);
  opacity: 1;
}

.notice-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
}

.notice-link__tit {
  display: block;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  color: #000;
  margin-bottom: 2.7rem;
}

.notice-link__date {
  display: block;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: #505050;
}

/* 배너 슬라이드 */
.banner-slide {
  position: relative;
  display: block;
  height: 25rem;
  min-width: 120rem;
}

.sw-banner a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.banner-slide__banner-1 {
  background: url("../images/banner_1.jpg") no-repeat center;
}

.banner-slide__banner-2 {
  background: url("../images/banner_2.jpg") no-repeat center;
}

.banner-slide__banner-3 {
  background: url("../images/banner_3.jpg") no-repeat center;
}

.sw-banner__prev {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 7.7rem;
  height: 5.4rem;
  background: url("../images/arrow_prev_4.png") no-repeat center;
  transform: translate(-60rem, -50%);
  cursor: pointer;
  z-index: 1;
}

.sw-banner__prev:hover {
  border: .1rem solid #fff;
}

.sw-banner__next {
  position: absolute;
  right: 50%;
  top: 50%;
  display: block;
  width: 7.7rem;
  height: 5.4rem;
  background: url("../images/arrow_next_4.png") no-repeat center;
  transform: translate(60rem, -50%);
  cursor: pointer;
  z-index: 1;
}

.sw-banner__next:hover {
  border: .1rem solid #fff;
}

/* 캘린더/행사/바로가기 */
.info {
  position: relative;
  display: block;
}

.info .container {
  position: relative;
  display: block;
  padding-bottom: 3rem;
  margin-top: -7rem;
  z-index: 2;
}

.info-left {
  position: relative;
  display: block;
  float: left;
  width: 57.6rem;
  height: 30rem;
  padding: .6rem 2rem 0 .6rem;
}

.info-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4.9rem;
  height: 4.9rem;
  border-top: 1rem solid #0066b2;
  border-left: 1rem solid #0066b2;
  z-index: 1;
}

.calendar {
  position: relative;
  display: block;
  height: 29.4rem;
  background: #e2f4f9;
  padding: 3rem;
}

.calendar__more {
  position: absolute;
  top: -.6rem;
  right: -.6rem;
  display: block;
  width: 4.9rem;
  height: 4.9rem;
  background: #0066b2 url("../images/plus_2.png") no-repeat center;
  transition: background 0.2s;
}

.calendar__more:hover {
  background: #52575c url("../images/plus_2.png") no-repeat center;
}

.calendar__tit {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  color: #29587b;
}

.calendar__date {
  display: block;
  font-size: 3.7rem;
  font-weight: 500;
  color: #005798;
  text-align: center;
  margin-bottom: 1rem;
}

.calendar-cont {
  display: block;
}

.calendar-list {
  display: block;
}

.calendar-list>li {
  display: block;
  overflow: hidden;
  margin-bottom: .8rem;
}

.calendar-list__date {
  display: block;
  float: left;
  width: 12rem;
  height: 2.8rem;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
  color: #309be6;
  border: .1rem solid #71b2e3;
  padding: .5rem;
}

.calendar-list__link {
  display: block;
  float: left;
  width: 37rem;
  height: 2.8rem;
  font-size: 1.6rem;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .5rem 1rem;
  transition: color 0.2s;
}

.calendar-list__link:hover {
  color: #309be6;
  text-decoration: underline;
}

.info-right {
  position: relative;
  display: block;
  float: left;
  width: 62.4rem;
  height: 30rem;
}

.info-seminar {
  position: relative;
  display: block;
  float: left;
  width: 36rem;
  height: 100%;
  background: #046cba;
  padding: 2.5rem;
}

.info-seminar__tit {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  margin-bottom: 1.4rem;
}

.seminar-link {
  position: relative;
  display: block;
  width: 31rem;
  height: 21.2rem;
}

.seminar-link__img {
  position: relative;
  display: block;
  height: 14.8rem;
  overflow: hidden;
  margin-bottom: .5rem;
  background: #000;
}

.seminar-link__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  transform: translate(-50%, -50%);
}

.seminar-link__tit {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: .5rem;
}

.seminar-link__txt {
  display: block;
  height: 3.5rem;
  font-size: 1.3rem;
  line-height: 1.35;
  color: #b1d7f3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  transition: color 0.2s;
}

.sw-seminar:hover .seminar-link__txt {
  color: #fff;
}

.info__sns {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 14.8rem;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.sw-seminar:hover .info__sns {
  opacity: 1;
}

.info__sns--fb {
  position: relative;
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  background: url("../images/main_sns_f.png") no-repeat center;
  margin: 4.8rem .2rem 0 .2rem;
}

.info__sns--tw {
  position: relative;
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  background: url("../images/main_sns_t.png") no-repeat center;
  margin: 4.8rem .2rem 0 .2rem;
}

.info__sns--url {
  position: relative;
  display: inline-block;
  width: 5.2rem;
  height: 5.2rem;
  background: url("../images/main_sns_u.png") no-repeat center;
  margin: 4.8rem .2rem 0 .2rem;
}

.sw-seminar-btn {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: block;
  font-size: 0;
}

.sw-seminar__prev {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0) url("../images/arrow_prev_2.png") no-repeat center;
  border: .1rem solid #fff;
  border-right: 0;
  cursor: pointer;
  transition: background 0.2s;
}

.sw-seminar__prev:hover {
  background: rgba(255, 255, 255, 0.4) url("../images/arrow_prev_2.png") no-repeat center;
}

.sw-seminar__next {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0) url("../images/arrow_next_2.png") no-repeat center;
  border: .1rem solid #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.sw-seminar__next:hover {
  background: rgba(255, 255, 255, 0.4) url("../images/arrow_next_2.png") no-repeat center;
}

.info-link {
  position: relative;
  display: block;
  float: left;
  width: 26.4rem;
  height: 100%;
}

.info-fund {
  position: relative;
  display: block;
  height: 50%;
  background: url("../images/fund_1_bg.png") no-repeat center;
  padding: 5rem 0 0 13.5rem;
}

.info-fund__img,
.info-sanhak__img {
  position: absolute;
  top: 7.5rem;
  left: 7rem;
  display: block;
  transform: translate(-50%, -50%);
}

.info-fund:hover .info-fund__img,
.info-sanhak:hover .info-sanhak__img {
  animation-name: info-ani;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes info-ani {
  0% {
    transform: translate(-50%, -50%) scaleX(1);
  }

  50% {
    transform: translate(-50%, -50%) scaleX(-1);
  }

  100% {
    transform: translate(-50%, -50%) scaleX(1);
  }
}

.info-fund__txt {
  display: block;
  font-size: 2.4rem;
  line-height: 1;
  color: #989898;
}

.info-fund__tit,
.info-sanhak__tit {
  display: block;
  font-size: 2.4rem;
  color: #2f2f2f;
}

.info-sanhak {
  position: relative;
  display: block;
  height: 50%;
  background: url("../images/fund_2_bg.png") no-repeat center;
  padding: 5rem 0 0 13.5rem;
}

.info-sanhak__desc {
  display: block;
  font-size: 1.2rem;
  line-height: 1;
  color: #415851;
}

/* 산학협력 */
.sanhak {
  position: relative;
  display: block;
  background: #f4f7fe;
  padding: 6.5rem 0 8.5rem 0;
}

.sanhak-top {
  position: relative;
  display: block;
  height: 39.5rem;
}

.sanhak-left {
  position: relative;
  display: block;
  float: left;
  width: 72rem;
}

.research {
  position: relative;
  display: block;
  padding: 2.6rem 2.7rem 0 0;
}

.research::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 14.6rem;
  height: 14.6rem;
  border: .7rem solid #046cc3;
  box-sizing: border-box;
}

.research-box {
  position: relative;
  display: block;
  width: 69.3rem;
  height: 36.9rem;
  background: #06a0e1;
  padding: 5.5rem 2rem;
}

.research-box::before {
  content: "";
  position: absolute;
  top: 5.5rem;
  right: 7rem;
  width: 8.6rem;
  height: 8.2rem;
  background: url("../images/research_bg.png") no-repeat center;
}

.research__cate {
  position: absolute;
  top: 5.5rem;
  left: 39.5rem;
  display: block;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  z-index: 1;
}

.research-link {
  position: relative;
  display: block;
}

.research__img {
  display: block;
  float: left;
  padding-right: 1.5rem;
}

.research__img img {
  display: block;
  width: 36rem;
  height: 23.5rem;
}

.research-txt {
  display: block;
  float: left;
  width: calc(100% - 37.5rem);
  margin-top: 5.5rem;
}

.research__tit {
  display: block;
  height: 6.5rem;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 1.2;
  overflow: hidden;
  color: #fff;
  margin-bottom: 1.5rem;
}

.research__desc {
  display: block;
  height: 11.5rem;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.25;
  overflow: hidden;
  color: #fff;
  transition: color 0.2s;
}

.research-link:hover .research__desc {
  color: #22315a;
}

.research-sns-box {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 36rem;
  height: 23.5rem;
  font-size: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.2s;
}

.research-link:hover .research-sns-box {
  opacity: 1;
}

.research-sns-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.research__sns {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 9.1rem .3rem 0 .3rem;
}

.research__sns--fb {
  background: url("../images/main_sns_f.png") no-repeat center;
  background-size: cover;
}

.research__sns--tw {
  background: url("../images/main_sns_t.png") no-repeat center;
  background-size: cover;
}

.research__sns--url {
  background: url("../images/main_sns_u.png") no-repeat center;
  background-size: cover;
}

.research__more {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  display: block;
  width: 9.3rem;
  height: 3.1rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #fff;
  background: url("../images/research_more.png") no-repeat center;
  padding: .4rem 1rem;
  transition: color 0.2s;
}

.research__more:hover {
  color: #22315a;
}

.sanhak-right {
  position: relative;
  display: block;
  float: left;
  width: 48rem;
}

.sanhak-top .sanhak-right {
  padding-top: 16rem;
}

.news-letter {
  position: relative;
  display: block;
  height: 23.5rem;
  border: .1rem solid #e7e7e7;
  background: #fff url("../images/news_letter.jpg") no-repeat -8rem;
  background-size: contain;
}

.news-letter-box {
  position: relative;
  display: block;
  float: right;
  width: 21.5rem;
  height: 100%;
  background: #fff;
  padding: 1.5rem 2.5rem;
}

.news-letter-tit {
  position: relative;
  display: block;
  font-size: 3.1rem;
  line-height: 1.1;
  color: #1c1c1c;
  margin-bottom: 1rem;
}

.news-letter-list {
  display: block;
}

.news-letter-list>li {
  display: block;
}

.news-letter-list>li>a {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  padding-right: .5rem;
}

.news-letter-list>li>a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 6.4rem;
  height: .1rem;
  background: #bbb;
}

.news-letter-list>li:hover>a::before {
  background: #000;
}

.news-letter-list>li>a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  display: block;
  width: .7rem;
  height: .7rem;
  background: url("../images/plus_5.png") no-repeat center;
  transform: translateY(-50%);
}

.news-letter-list>li>a:hover::after {
  animation: plus-ani 0.2s;
}

@keyframes plus-ani {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(90deg);
  }
}

.sanhak-bot {
  position: relative;
  display: block;
  height: 26.5rem;
}

.sanhak-news {
  position: relative;
  display: block;
  padding: 2.6rem 2.7rem 0 0;
}

.sanhak-news-top {
  position: relative;
  display: block;
}

.sanhak-news-tit {
  display: block;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 4rem;
  color: #212121;
}

.sanhak-news-main {
  position: relative;
  display: block;
  width: 69.3rem;
  height: 22.3rem;
}

.sw-sanhak-news {
  position: relative;
  display: block;
  height: 100%;
}

.sw-sanhak-news-left {
  width: 41.8rem;
  height: 100%;
  overflow: hidden;
}

.sw-sanhak-news__img {
  width: 100%;
  max-width: 100%;
}

.sw-sanhak-news-right {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 33.4rem;
  height: 100%;
  border: .1rem solid #eceff4;
  background: rgba(255, 255, 255, 0.8);
  padding: 7.5% 4%;
  transition: all 0.2s;
}

.sw-sanhak-news:hover .sw-sanhak-news-right {
  background: rgba(255, 255, 255, 1);
}

.sw-sanhak-news__tit {
  display: block;
  height: 3rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.35;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sw-sanhak-news__desc {
  display: block;
  height: 8rem;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
}

.sw-sanhak-news-btn {
  position: absolute;
  top: -4rem;
  right: 0;
  display: block;
  font-size: 0;
}

.sw-sanhak-news__prev {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0.5) url("../images/arrow_prev_3.png") no-repeat center;
  border-right: 0;
  cursor: pointer;
  transition: background 0.2s;
  margin-right: .2rem;
}

.sw-sanhak-news__prev:hover {
  background: rgba(0, 0, 0, 0.8) url("../images/arrow_prev_3.png") no-repeat center;
}

.sw-sanhak-news__prev:focus {
  background: rgba(0, 0, 0, 0.8) url("../images/arrow_prev_3.png") no-repeat center;
}

.sw-sanhak-news__next {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0.5) url("../images/arrow_next_3.png") no-repeat center;
  cursor: pointer;
  transition: background 0.2s;
}

.sw-sanhak-news__next:hover {
  background: rgba(0, 0, 0, 0.8) url("../images/arrow_next_3.png") no-repeat center;
}

.sw-sanhak-news__next:focus {
  background: rgba(0, 0, 0, 0.8) url("../images/arrow_next_3.png") no-repeat center;
}

.sanhak-bot .sanhak-right {
  margin-top: 2.6rem;
}

.patent-news {
  position: relative;
  display: block;
  background: #51c4cb;
  padding: .7rem;
}

.patent-news-left {
  position: relative;
  display: block;
  float: left;
  width: calc(100% - 20.8rem);
  height: 25rem;
}

.patent-news__tit {
  position: absolute;
  top: 1.3rem;
  left: 0;
  display: block;
  width: 100%;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.patent-news__tit::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background: #3ba6ac url("../images/patent_news_icon.png") no-repeat center;
  margin: 0 auto 1rem auto;
}

.patent-news-left span {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-top: 12.5rem;
}

.patent-news-right {
  display: block;
  float: left;
  width: 20.8rem;
  height: 25rem;
  background: green;
}

.patent-news__img {
  width: 100%;
  height: 100%;
}

/* 서비스 */
.service {
  position: relative;
  display: block;
  height: 90rem;
  background: url("../images/service_main_bg.jpg") no-repeat center;
  background-size: cover;
}

.service-top {
  display: block;
  height: 47.8rem;
  padding: 11rem 0 15rem 0;
}

.service-top a {
  display: block;
  float: left;
  width: 22%;
  height: 21.8rem;
  font-size: 2.2rem;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  border: .1rem solid #4c4c4c;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 15rem;
  margin-right: 4%;
  transition: all 0.2s;
}

.service-top a:nth-child(1) {
  background-image: url('../images/main_service_1_1.png');
  background-repeat: no-repeat;
  background-position: center 6rem;
}

.service-top a:nth-child(2) {
  background-image: url('../images/main_service_1_2.png');
  background-repeat: no-repeat;
  background-position: center 6rem;
}

.service-top a:nth-child(3) {
  background-image: url('../images/main_service_1_3.png');
  background-repeat: no-repeat;
  background-position: center 6rem;
}

.service-top a:nth-child(4) {
  background-image: url('../images/main_service_1_4.png');
  background-repeat: no-repeat;
  background-position: center 6rem;
  margin-right: 0;
}

.service-top a:hover {
  border: .1rem solid #0d81e3;
  background-color: rgba(13, 129, 227, 0.7);
}

.service-bot {
  display: block;
  background: rgba(15, 166, 184, 0.9);
}

.service-left {
  display: block;
  float: left;
  width: 30rem;
  margin-top: -5.8rem;
}

.service-guide {
  position: relative;
  display: block;
  width: 100%;
  height: 45rem;
  background: #0d838d;
}

.service-guide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 27.1rem;
  background: url("../images/main_service_2_bg.jpg") no-repeat;
  background-size: 100%;
  transition: all .8s;
}

.service-guide:hover::before {
  background-size: 110%;
}

.service-guide__tit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 17.9rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: right;
  color: #fff;
  padding: 30rem 2rem 0 2rem;
  transition: all 0.2s;
}

.service-guide:hover .service-guide__tit {
  color: #47e1f3;
}

.service-guide::after {
  content: "";
  position: absolute;
  right: 2rem;
  bottom: 3rem;
  display: block;
  width: 5rem;
  height: 5rem;
  background: url("../images/plus_2.png") no-repeat center;
  border: .1rem solid #fff;
  box-sizing: border-box;
  transition: all 0.2s;
}

.service-guide:hover::after {
  background: url("../images/plus_4.png") no-repeat center;
  border: .1rem solid #47e1f3;
}

.service-right {
  display: block;
  float: left;
  width: 90rem;
  height: 42.2rem;
  padding: 2rem 3rem 3rem 5rem;
}

.one-stop__tit {
  display: block;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1.3;
  color: #fff;
  padding-bottom: 3rem;
}

.one-stop-wrap {
  display: block;
}

.one-stop-list {
  display: block;
  width: 85rem;
}

.one-stop-list>li {
  display: block;
  float: left;
  padding: 0 1.7rem;
}

.one-stop-list>li>a {
  display: block;
  height: 15rem;
}

.one-stop-list>li>a>img {
  display: block;
  width: 8.7rem;
  height: 8.7rem;
  margin: 0 1rem 1rem 1rem;
}

.one-stop-list>li>a:hover>img {
  animation-name: icon-ani;
  animation-duration: 0.45s;
  animation-timing-function: ease-in-out;
}

@keyframes icon-ani {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(1);
  }
}

.one-stop-list>li>a>span {
  display: block;
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: center;
  color: #fff;
}

.one-stop-list>li>a:hover>span {
  color: #47e1f3;
}

/* SNS */
.sns {
  position: relative;
  display: block;
  padding: 4.4rem 0 10rem 0;
  background: #fff;
}

.sns-top {
  position: relative;
  display: block;
}

.sns__tit {
  position: relative;
  display: block;
  font-size: 4.5rem;
  font-weight: 200;
  line-height: 3.8rem;
  color: #046cbb;
  padding-bottom: 5rem;
}

.sns__tit strong {
  font-weight: 600;
  color: #212121;
}

.sns-icon-list {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.sns-icon-list>li {
  position: relative;
  display: block;
  float: left;
  padding-left: 1.5rem;
}

.sns__icon {
  position: relative;
  display: block;
  width: 3.8rem;
  height: 3.8rem;
  border: .1rem solid #adadad;
  border-radius: 100%;
  transition: all 0.2s;
}

.sns__icon--f {
  background: #fff url("../images/footer_sns_FB.png") no-repeat center;
}

.sns__icon--f:hover {
  border: .1rem solid #003471;
  background: #003471 url('../images/footer_sns_FB_w.png') no-repeat center;
}

.sns__icon--b {
  background: #fff url("../images/footer_sns_B.png") no-repeat 1.4rem center;
}

.sns__icon--b:hover {
  border: .1rem solid #4bb52e;
  background: #4bb52e url('../images/footer_sns_B_w.png') no-repeat 1.4rem center;
}

.sns__icon--y {
  background: #fff url("../images/footer_sns_YT.png") no-repeat 1rem center;
}

.sns__icon--y:hover {
  border: .1rem solid #cb2026;
  background: #cb2026 url('../images/footer_sns_YT_w.png') no-repeat 1rem center;
}

.sns__icon--i {
  background: #fff url("../images/footer_sns_IG.png") no-repeat center;
}

.sns__icon--i:hover {
  border: .1rem solid #dc12ea;
  background: #dc12ea url('../images/footer_sns_IG_w.png') no-repeat center;
}

.sns-main {
  position: relative;
  display: block;
}

.sns-main-list {
  position: relative;
  display: block;
  height: 34.5rem;
}

.sns-main-list>li {
  position: relative;
  display: block;
  float: left;
  width: 28.5rem;
  margin-right: 2rem;
}

.sns-main-list>li:last-child {
  margin-right: 0;
}

.sns-main-box {
  position: relative;
  display: block;
}

.sns-main-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border: .5rem solid transparent;
  box-sizing: border-box;
  transition: all 0.1s;
}

.sns-main-box:hover::before {
  border: .5rem solid #0066b3;
}

.sns-main-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  background: #0066b3 url("../images/plus_2.png") no-repeat center;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s;
}

.sns-main-box:hover::after {
  transform: scale(1);
  opacity: 1;
}

.sns-main__img {
  width: 100%;
}

.sns-main__tit {
  display: block;
  height: 4.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
}

.sns-main__date {
  display: block;
  font-size: 1.6rem;
  line-height: 1;
  padding: 1rem 1.5rem;
}

/* Footer */
.footer {
  position: relative;
  display: block;
}

.sitemap {
  position: relative;
  display: block;
}

.sitemap-top {
  position: relative;
  display: block;
  font-size: 0;
  text-align: center;
  background: #31353f;
  cursor: pointer;
}

.sitemap__tit {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 5rem;
  color: #fff;
}

.sitemap__tit em {
  color: #3dcbf5;
  font-style: normal;
}

.sitemap__icon {
  display: inline-block;
  width: 1.1rem;
  height: .7rem;
  background: url("../images/arrow_d_w_1.png");
  transform: rotate(180deg);
  margin-left: 1rem;
}

.sitemap-main {
  position: relative;
  display: none;
  background: #434753;
  padding: 2rem 0 7.5rem 0;
}

.sitemap-box {
  position: relative;
  display: block;
  float: left;
  width: 36rem;
  margin-right: 6rem;
}

.sitemap-box:last-child {
  margin-right: 0;
}

.sitemap-box__tit {
  display: block;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.3;
  color: #FFF;
  border: .1rem solid #767982;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.sitemap-cont {
  position: relative;
  display: block;
}

.sitemap-list {
  position: relative;
  display: block;
  float: left;
  width: 45%;
  font-size: 0;
  margin: 0 2.5%;
}

.sitemap-list li {
  position: relative;
  display: block;
  height: 2.1rem;
  padding-left: 1rem;
}

.sitemap-list li a {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #FFF;
  border-bottom: .1rem solid transparent;
  transition: all 0.2s
}

.sitemap-list li a:hover {
  border-bottom: .1rem solid #fff;
}

.sitemap-list li a::before {
  content: "";
  position: absolute;
  top: .9rem;
  left: -1rem;
  display: block;
  width: .3rem;
  height: .3rem;
  background: #fff;
}

.footer-menu {
  position: relative;
  display: block;
  background: #292e3e;
  border-bottom: .1rem solid #545865;
}

.footer-menu .container {
  text-align: center;
  font-size: 0;
}

.footer-menu-list {
  position: relative;
  display: inline-block;
}

.footer-menu-list li {
  position: relative;
  display: block;
  float: left;
}

.footer-menu-list li a {
  position: relative;
  display: block;
  font-size: 1.3rem;
  line-height: 5rem;
  color: #bcbcbc;
  padding: 0 1.7rem;
}

.footer-menu-list li a em {
  color: #73afec;
  font-style: normal;
}

.footer-menu-list li a:hover {
  text-decoration: underline;
}

.footer-menu-list li a::after {
  content: '';
  position: absolute;
  top: 2rem;
  right: 0;
  display: block;
  width: .1rem;
  height: 1.1rem;
  background: #fff;
}

.footer-menu-list li:last-child a::after {
  display: none;
}

.footer-info {
  display: block;
  background: #292e3e;
  padding: 4rem 0;
}

.footer-logo {
  display: block;
  float: left;
}

.footer-txt {
  display: block;
  float: left;
  margin-left: 5.7rem;
}

.footer-txt address {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #bcbcbc;
  margin-bottom: 1rem;
  font-style: normal;
}

.footer-txt address em {
  color: #9cc7f0;
  font-weight: 200;
  font-style: normal;
}

.footer-txt span {
  display: block;
  font-size: 1.4rem;
  font-weight: 200;
  color: #bcbcbc;
}

.footer-sns {
  display: block;
  float: right;
}

.footer-sns-list {
  display: block;
  font-size: 0;
}

.footer-sns-list li {
  display: inline-block;
  margin-left: .8rem;
}

.footer-sns__icon {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  border: .2rem solid #aaa;
  border-radius: 100%;
}

.footer-sns__icon--f {
  background: url('../images/footer_sns_FB.png') no-repeat center;
}

.footer-sns__icon--b {
  background: url('../images/footer_sns_B.png') no-repeat 1.2rem center;
}

.footer-sns__icon--y {
  background: url('../images/footer_sns_YT.png') no-repeat center;
}

.footer-sns__icon--i {
  background: url('../images/footer_sns_IG.png') no-repeat center;
}

/* Black background */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
}